html {
    font-size: 10px;
    /* background: url('./background.jpg') bottom center; */
    /* background: url('./records.png') bottom center; */
    background: url('./mic.png') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .25rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    margin-top: 20%;
  }
  
  .playing65 {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

  .playing83 {
    transform: scale(1.1);
    border-color: #ddff00;
    box-shadow: 0 0 1rem #ddff00;
  }
  .playing68 {
    transform: scale(1.1);
    border-color: #aeff00;
    box-shadow: 0 0 1rem #aeff00;
  }
  .playing70 {
    transform: scale(1.1);
    border-color: #00ffe1;
    box-shadow: 0 0 1rem #00ffe1;
  }
  .playing71 {
    transform: scale(1.1);
    border-color: #4ba5f4;
    box-shadow: 0 0 1rem #4ba5f4;
  }
  .playing72 {
    transform: scale(1.1);
    border-color: #c460f6;
    box-shadow: 0 0 1rem #c460f6;
  }
  .playing74 {
    transform: scale(1.1);
    border-color: #dc40df;
    box-shadow: 0 0 1rem #fc40df;
  }
  .playing75 {
    transform: scale(1.1);
    border-color: #ee3b89;
    box-shadow: 0 0 1rem #ee3b89;
  }
  .playing76 {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #dd78de;
  }